{{# if products }}
    <div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class = "list-group">
            {{# each products }}
            <li class = "list-group-item">
                <span class = "badge badge-warning">{{ this.qty }}</span>
                <strong>{{ this.item.title }}</strong>
                <span class="label label-success">${{ this.price }}</span>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-xs dropdown-toggle btn" type = "button" data-toggle = "dropdown">Action <span class = "caret"></span></button>

                    <ul class = "dropdown-menu">
                        <li><a href= "/reduce/{{this.item._id}}">Reduce by 1</a></li>
                        <li><a href= "/remove/{{this.item._id}}">Remove All</a></li>
                    </ul>
                </div>
            </li>
            {{/each}}

        </ul>
    </div>
</div>
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total: $</strong>
        <strong id="totalPrice">{{totalPrice}}</strong>
        <!-- Checks to see if the user is signed in, if they are then show that
      coupons are avalable, if not then don't show the coupons tab. -->
      {{# if login }}
        <input id="field" class="form-control mr-sm-2" placeholder="Coupon Code" aria-label="Search">
        <a href="/applyCoupon"><button id="enter" disabled="disabled" class="btn btn-outline-success" type="button" onclick="checkCoupon()" >Enter</button>            

        <script>
        var price = {{ totalPrice }};
            var totalCost = parseInt(price);


            $("#field").keyup(function(){
            el = $(this);
          
            if(totalCost >=25 && totalCost < 50){
             
                if(el.val() === "BOH232")
                 {
                 
                      $('#enter').removeAttr('disabled');

                      
                 }
            } else if(totalCost >= 50)
            {
                 if(el.val() === "AOX200")
                 {
               
                   $('#enter').removeAttr('disabled');
                   
                       
                 }
            } 
           
            });


        </script> 
        {{ else }}
      {{/if}}
        
    </form>

    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <a href = "/checkout" type = "button" class="btn btn-success">Checkout</a>
    </div>
</div>
{{ else }}
<div class = "row">
    <div class = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <h2>No Items in Cart</h2>
    </div>
</div>
{{/if}}

